<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/footer.css">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="gm-footer navbar navbar-fixed-bottom text-center">
            <h3 class="gm-title">GAME<strong>MAG</strong></h3>
            <br>
            <div class="row">
                <i class="gm-social fab fa-twitter-square"></i>
                <i class="gm-social fab fa-facebook-square"></i>
                <i class="gm-social fab fa-instagram"></i>
                <i class="gm-social fab fa-youtube"></i>
                <i class="gm-social fab fa-twitch"></i>
            </div>
            <br>
            <div class="row">
                <a class="gm-link" href="#">Articles</a>
                <a class="gm-link" href="#">Classement</a>
                <a class="gm-link" href="#">Vidéos</a>
                <a class="gm-link" href="#">Contact</a>
            </div>
            <br>
            <p class="gm-rights text-muted">@2019 GameMAG. Tout droit réservés.</p>
        </div>
    </body>
</html>