body {
    height: 100%;
}

a.title {
    color:#262626;
}

a.title:hover {
    text-decoration: none;
    color:#2e2e2e;
}

.titre{
    font-weight:lighter;
}
.lien:hover{
    color: #2e2e2e;
    border-bottom: solid 2px;
}
.lien.active{
    border-bottom: solid 2px;
}

.lien{
    padding:10px;
    color:#262626;
}

.gm-title {
    padding-top: 4px;
}

.gm-nav {
    position: relative;
    top: -16px;
}

header {
    background-color: white;
    height: 100px;
}